#products-list{
    //상품목록을 가로4칸 세로 2칸으로 정렬함
    display: grid;
    grid-template-columns: repeat(4,  minmax(100px, auto));
    grid-template-rows: repeat(2,  minmax(200px, auto));
    row-gap: 10px;
    column-gap: 20px;
}